.vang {
    background-color: yellow;
    width: 100%;
    height: 200px;    
}
.xanh {
    background-color: blue;
    width: 100%;
    height: 200px;
}
.trang {
    background-color: white;
    width: 50px;
    height: 50px;
}
.hong {
    background-color: purple;
    width: 50px;
    position: fixed;
    top: 10%;
    z-index: 2;
    right: 0;
    height: 50px;
}
.do {
    background-color: red;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10%;
    z-index: 3;
    right: 0;
}


.tim {
    background-color: violet;
    width: 100%;
    height: 200px;
}
